<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💬</text></svg>">
        <title>Message Board</title>
    </head>
    <body>
        <dialog id="dialog">
            <form action="/user" method="POST">
                <label for="username"><%= !username ? 'Welcome to the message board! ' : '' %>Join the chat as</label>
                <input type="text" name="username" value="<%= username ? username : '' %>" placeholder="Username" autocomplete="off">
                <button id="submitDialog"><%= !username ? 'Start chatting' : 'Change username' %></button>
                <button id="closeDialog" type="button">✕</button>
            </form>
        </dialog>
        <div class="board">
            <div class="messageBoardHeader">
                <h1>💬</h1>
                <button id="showDialog">
                    <div class="username"><%= username ? username : 'Anonymous' %></div>
                    <div class="icon" style="background-color: <%= usernameColor %>;"><%= username ? username[0] : 'A' %></div>
                </button>
            </div>
            <section class="messageBoard">
                <% messages.slice().reverse().forEach((message, index) => { %>
                    <div class="message"">
                        <div class="profile" style="background-color: <%= message.color %>;"><%= message.username[0] %></div>
                        <div>
                            <span class="user"><%= message.username %></span>
                            <div class="body">
                                <%= message.text %>
                            </div>
                            <div class="details">
                                <%= new Intl.DateTimeFormat('en-US', { timeStyle: 'short', dateStyle: 'short' }).format(message.added) %> 
                                <div class="tooltip">ⓘ
                                    <span class="tooltiptext"><%= message.added %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </section>
            <form action="/" method="POST" class="messageBoardFooter">
                <input type="text" placeholder="Type here" name="text" autocomplete="off">
                <button>➤</button>
            </form>
        </div>

        <script>
            const $ = (id) => document.getElementById(id)

            if (!'<%= username %>') $('dialog').showModal()

            $('showDialog').addEventListener('click', () => {
                $('dialog').showModal()
            })

            $('submitDialog').addEventListener('click', () => {
                $('dialog').close()
            })

            $('closeDialog').addEventListener('click', () => {
                $('dialog').close()
            })
        </script>

        <style>
            .material-symbols-outlined {
                font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 30;
                font-size: 30px;
            }
        </style>
    </body>
</html>