<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <dialog id="dialog">
            <form action="/user" method="POST">
                <label for="username"><%= !username ? 'Welcome to the message board! ' : '' %>Join the chat as</label>
                <input type="text" name="username" value="<%= username ? username : '' %>" placeholder="Username">
                <button id="submitDialog">Chat with others</button>
                <button id="closeDialog" type="button">✕</button>
            </form>
        </dialog>
        <div class="board">
            <div class="messageBoardHeader">
                <h1>Chat</h1>
                <button id="showDialog">
                    <div class="username"><%= username ? username : 'Anonymous' %></div>
                    <div class="icon"><%= username ? username[0] : 'A' %></div>
                </button>
            </div>
            <section class="messageBoard">
                <% messages.slice().reverse().forEach((message, index) => { %>
                    <div class="message"">
                        <div class="profile"><%= message.username[0] %></div>
                        <div>
                            <span class="user"><%= message.username %></span>
                            <div class="body">
                                <%= message.text %>
                            </div>
                            <div class="details">
                                <%= new Intl.DateTimeFormat('en-US', { timeStyle: 'short' }).format(message.added) %> 
                                <div class="tooltip">ⓘ
                                    <span class="tooltiptext"><%= message.added %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </section>
            <form action="/" method="POST" class="messageBoardFooter">
                <input type="hidden" type="text" name="username" value="Test">
                <input type="text" placeholder="Type here" name="text">
                <button>➤</button>
            </form>
        </div>

        <script>
            const $ = (id) => document.getElementById(id)

            if (!'<%= username %>') $('dialog').showModal()

            $('showDialog').addEventListener('click', () => {
                $('dialog').showModal()
            })

            $('submitDialog').addEventListener('click', () => {
                $('dialog').close()
            })

            $('closeDialog').addEventListener('click', () => {
                $('dialog').close()
            })
        </script>
    </body>
</html>