<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('header', {links: links}) %>
        <section class="messageBoard">
            <% messages.forEach((message, index) => { %>
                <div>
                    <%= message.user %>: <%= message.text %>
                    <br />
                    <%= new Intl.DateTimeFormat('en-US', { dateStyle: 'short', timeStyle: 'short' }).format(message.added) %> 
                    <a href="/message/<%= index %>">details</a>
                </div>
                <br />
            <% }) %>
        </section>
    </body>
</html>